{% extends 'base.html' %}
{% block content %}
    <div class="content">
        <h2>监控工具管理</h2>
        <table>
            <tr>
                <th>脚本名称</th>
                <th>部署数量</th>
                <th>操作</th>
            </tr>
            {% for agent in agents %}
            <tr>
                <td>{{ agent.name }}</td>
                <td>{{ agent.deployment_count }}</td>
                <td>
                    <a href="/agent/{{ agent.name }}" class="btn">查看</a>
                    <a href="/agent/deployments/{{ agent.name }}" class="btn">实例({{ agent.deployment_count }})</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}